* {
	padding: 0px;
	margin: 0px;
}


.rond {
					 	width: 200px;
					 	height: 200px;
					 	border-radius: 100px;
            }
.header {
            width: 300px;
            background-color:#D7DF01;
            padding: 10px;
						float: left;
						margin-left: 40px;
						align-content: center;
            }
#menu {
	list-style-type: none;
	list-style: none;
	margin-left: 50px;
	font-size: 24px;
	background-color: black;
	}
#menu li {
	background-color: white;
	}

#menu li a:hover{
			 color: blue;
		 }
.socialmedia {
	list-style-type: none;
	list-style: none;
}
.socialmedia ul {
list-style-type: none;
list-style: none;
margin-top: 10px;
font-size: 150%;
padding: 10px;
display: block;
box-sizing: border-box;
overflow: hidden;
}

.socialmedia ul li{
float: left;
width: 16%;
height: 15%;
background-color: #6AF3F3;
background-size: cover;
text-align: left;
border-radius: 15%;
margin-right:0.7%;
padding: 5px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
		}
[class="col-"] {
    float: left;
    padding: 15px;
		}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
#main1 {
	text-align:center;
	color: white;
	padding-top: 50px;
}
